<div>
    <code>{{ constant.toSignature }}</code> <span class="badge badge-light">{{ constant.getVisibility }}</span>
</div>
<pre>{{ constant.getValueAsString }}</pre>
<div>{{ constant.getDocBlockAsString|to_html }}</div>

{{- include('elements/tags.twig', {tags: constant.getTagsGroupedByName}, with_context = false) }}