<div>
    <code>
        <a href="#{{ method.getName }}">
            {%- if method.isDeprecated -%}
                <del>{{ method.getName }}()</del>
            {%- else -%}
                {{ method.getName }}()
            {%- endif -%}
        </a>
    </code> <span class="badge badge-light">{{ method.getVisibility }}</span>
    {%~ if method.isStatic %}
    <span class="badge badge-light">static</span>
    {%~ endif %}
    {%~ if method.isDeprecated %}
    <span class="badge badge-light">deprecated</span>
    {%~ endif %}
    <div>{{ method.getDocBlockSummaryAsString|to_html }}</div>
</div>
