<a name="{{ method.getName }}"></a>
<div class="pb-1 pt-2 px-2 mb-3 bg-info text-white"><h5>{{ method.getName }}()</h5></div>
<div class="ml-3">
    <pre><code class="language-php">{{ method.toSignature }}</code></pre>
        {%~ if method.getDocBlockAsString %}
    <blockquote class="blockquote font-weight-light small">{{ method.getDocBlockAsString|to_html }}</blockquote>
    {%~ endif %}

    {%~ if method.getParameters|length > 0 %}
    <h6>Parameters</h6>
    {%~ for parameter in method.getParameters %}
    <div class="mb-3">
        <code class="language-php">{{ parameter.toSignature }}</code> {{ parameter.getDocBlockAsString|to_html }}
    </div>
    {%~ endfor %}
    {%~ endif %}

    {%~ if method.getReturnTypeAsString and method.getReturnTypeAsString != 'void' %}
    <h6>Return</h6>
    <div class="mb-3">
        <div><code>{{ method.getReturnTypeAsString }}</code></div>
        {%~ if method.getReturnDescription %}
        <div>{{ method.getReturnDescription|to_html }}</div>
        {%~ endif %}
    </div>
    {%~ endif %}

    {%~ if method.isDeprecated %}
    <h6>Deprecated</h6>
    <div class="mb-3">
        {%~ for tag in method.getTagsByName('deprecated') %}
        <div>{{ tag.getDescription|to_html }}</div>
        {%~ endfor %}
    </div>
    {%~ endif %}

    {%~ if method.getSeeTags|length > 0 %}
    <h6>See</h6>
    <div class="mb-3">
        {%~ for see in method.getSeeTags %}
        <div>{{ see }}</div>
        {%~ endfor %}
    </div>
    {%~ endif %}

    {%~ if method.getThrowsTags|length > 0 %}
    <h6>Throws</h6>
    {%~ for throws in method.getThrowsTags %}
    <div class="mb-3">
        <div><code>{{ throws.type }}</code></div>
        {%~ if throws.description %}
        <div>{{ throws.description }}</div>
        {%~ endif %}
    </div>
    {%~ endfor %}
    {%~ endif %}
</div>
