<div class="method-summary-element">
    <code>
        <a href="#{{ method.getName }}">
            {%- if method.hasTag('deprecated') -%}
                <del>{{ method.getName }}()</del>
            {%- else -%}
                {{ method.getName }}()
            {%- endif -%}
        </a>
    </code>
    {%- if method.getVisibility %} <span class="badge badge-light">{{ method.getVisibility }}</span>{% endif %}
    {%- if method.isAbstract %} <span class="badge badge-light">abstract</span>{% endif %}
    {%- if method.isStatic %} <span class="badge badge-light">static</span>{% endif %}
    {%- if method.hasTag('deprecated') %} <span class="badge badge-light">deprecated</span>{% endif %}

    {%~ if method.getDocBlockAsString %}
    <div class="description">{{ method.getDocBlockAsString|to_html }}</div>
    {%~ endif %}

</div>
