<div class="method-element">
    <a name="{{ method.getName }}"></a>
    <div class="title">
        {%~ if method.getVisibility or method.isAbstract or method.isStatic %}
        <div>
            {{- method.getVisibility }}
            {%- if method.isAbstract %} abstract{% endif -%}
            {%- if method.isStatic %} static{% endif -%}
        </div>
        {%~ endif %}
        <h5>{{ method.getName }}()</h5>
    </div>
    <div class="body">
        <pre><code class="language-php">{{ method.getSignature }}</code></pre>
        {%~ if method.getDocBlockAsString %}
        <div class="description">{{ method.getDocBlockAsString|to_html }}</div>
        {%~ endif %}

        {%~ if method.getParameters|length > 0 %}
        <h6>Parameters</h6>
        {%~ for parameter in method.getParameters %}
        <div class="parameter-element">
            <pre><code class="language-php">{{ parameter.getSignature }}</code></pre>
            {%~ if method.getDocBlockAsString %}
            <div class="description">{{ parameter.getDocBlockAsString|to_html }}</div>
            {%~ endif %}
        </div>
        {%~ endfor %}
        {%~ endif %}

        {{- include('elements/tags.twig', {tags: method.getTagsGroupedByName}, with_context = false) }}
    </div>
</div>
