<a name="{{ method.getName }}"></a>
<div class="pb-1 pt-2 px-2 mb-3 bg-info text-white">
    <div>
        {{- method.getVisibility }}
        {%- if method.isAbstract %} abstract{% endif -%}
        {%- if method.isStatic %} static{% endif -%}
    </div>
    <h5>{{ method.getName }}()</h5>
</div>
<div class="ml-3">
    <pre><code class="language-php">{{ method.toSignature }}</code></pre>
    {%~ if method.getDocBlockAsString %}
    <blockquote class="blockquote font-weight-light small">{{ method.getDocBlockAsString|to_html }}</blockquote>
    {%~ endif %}

    {%~ if method.getParameters|length > 0 %}
    <h6>Parameters</h6>
    {%~ for parameter in method.getParameters %}
    <div class="mb-3">
        <pre><code class="language-php">{{ parameter.toSignature }}</code></pre>
        {{ parameter.getDocBlockAsString|to_html }}
    </div>
    {%~ endfor %}
    {%~ endif %}

    {{- include('elements/tags.twig', {tags: method.getTagsGroupedByName}, with_context = false) }}
</div>
