<a name="{{ method.getName }}"></a>
<div class="pb-1 pt-2 px-2 mb-3 bg-info text-white"><h5>{{ method.getName }}()</h5></div>
<div class="ml-3">
    <pre><code class="language-php">{{ method.toSignature }}</code></pre>
        {%~ if method.getDocBlockAsString %}
    <blockquote class="blockquote font-weight-light small">{{ method.getDocBlockAsString|to_html }}</blockquote>
    {%~ endif %}

    {%~ if method.getParameters|length > 0 %}
    <h6>Parameters</h6>
    {%~ for parameter in method.getParameters %}
    <div class="mb-3">
        <code class="language-php">{{ parameter.toSignature }}</code> {{ parameter.getDocBlockAsString|to_html }}
    </div>
    {%~ endfor %}
    {%~ endif %}

    {%~ for tagName, tags in method.getTagsGroupedByName|filter((tags, tagName) => tagName != 'param') %}
    <h6>{{ tagName|capitalize }}</h6>
    <div class="mb-3">
        {%~ for tag in tags %}
        {%~ if tag.getType %}
        <div><code>{{ tag.getType }}</code></div>
        {%~ endif %}
        {%~ if tag.getDescription %}
        <div>{{ tag.getDescription|to_html }}</div>
        {%~ endif %}
        {%~ endfor %}
    </div>

    {%~ endfor %}
</div>
