<div>
    <code>{{ property.toSignature }}</code> <span class="badge badge-light">{{ property.getVisibility }}</span>
    {%~ if property.isStatic %}
    <span class="badge badge-light">static</span>
    {%~ endif %}
</div>
<div><span class="badge badge-light">{{ property.getTypeAsString }}</span></div>
<div>{{ property.getDocBlockAsString|to_html }}</div>

{{- include('elements/tags.twig', {tags: property.getTagsGroupedByName}, with_context = false) }}